html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  background-color:rgba(221, 221, 221, 0.4);
  max-width: 1170px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*ここから*/

.youtube-icon{
    width: 120px;
    padding-left: 30px;
    padding-top: 17px;
    float: left;
}

.header-right li{
    float: left;
    font-size:30px;
    line-height: 100px;
    padding: 0 20px;
}

.header-right a{
    color: black;
}

.header-right{
    float:right;
}

header{
    background-color:rgba(167, 167, 167, 0.7);
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.top-contents{
    height: auto;
    width: 1300px;
    margin-top: 100px;
}

.top-img{
    width: 100%;
}






.profile-contents{
    height: 700px; 
}

.profile-icon{
    width: 600px;
    height: 600px;
}

.profile{
    padding: 30px 0 10px 60px;
    font-size: 50px;
}

.box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.text p{
    width: 90%;
    font-size: 30px;
    margin: 30px;
}

.text h3{
    margin-left: 60px;
    font-size: 40px;
}

.hobby-icon{
    width: 700px;
}

.box-youtube{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.box-trip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-camp{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.box-fishing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-hobby{
    margin-top: 50px;
}

.hobby-contents h2{
    padding: 30px 0 0 60px;
    margin-top: 60px;
    font-size: 50px;
    border-top: 1px solid rgb(167, 167, 167);
}

.hobby-contents{
    margin-bottom: 70px;
}

.sns-contents{
    text-align: center;
    margin-top: 100px;
}

.sns-contents p{
    font-size: 50px;
    font-weight: bold;
    border-top: 1px solid rgb(167, 167, 167);
    margin-top: 30px;
}

.youtube-btn{
    font-size: 30px;
    background-color: red;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px #87888e;
}

.youtube-btn:active{
    box-shadow: none;
    position: relative;
    top: 5px;
    left: 5px;
}

.fa-youtube{
    padding-right: 10px;
}

.container{
    width: 1300px;
}
